In [ ]:
# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Introduction 

This notebook offers demonstrations of different methods of querying data that is stored in BigQuery from within the JupyterLab interface of your Vertex AI Workbench instance.

Confused ? Let's define each of these terms in case they're new to you

 * **BigQuery** BigQuery is a fully managed, AI-ready data platform that helps you manage and analyze your data with built-in features like machine learning, search, geospatial analysis, and business intelligence. BigQuery's serverless architecture lets you use languages like SQL and Python to answer your organization's biggest questions with zero infrastructure management.
 
 * **JupyterLab**  JupyterLab is a highly extensible, feature-rich notebook authoring application and editing environment, and is a part of Project Jupyter, a large umbrella project centered around the goal of providing tools (and standards) for interactive computing with computational notebooks.
 
 * **Vertex AI Workbench instance** Vertex AI Workbench instances are Jupyter notebook-based development environments on Google Cloud for the entire data science workflow. Vertex AI Workbench instances are prepackaged with JupyterLab. Vertex AI Workbench instances have integrations and features can make it easier to access your data, process data faster, schedule notebook runs, and more.
 
For most of these methods, we will use a **Python JupyterLab Kernel**. In the Jupyter architecture, kernels are separate processes started by the server that run your code in different programming languages and environments.  We will use the IPython Jupyter Kernel that comes prepackaged with Vertex AI Workbench Instances. This will allow us to execute Python code in this notebook interactively.

Reference: 

https://cloud.google.com/bigquery/docs/introduction

https://jupyterlab.readthedocs.io/en/latest/user/interface.html

https://cloud.google.com/vertex-ai/docs/workbench/instances/introduction

https://jupyterlab.readthedocs.io/en/latest/user/documents_kernels.html#kernel-backed-documents

https://ipython.readthedocs.io/en/stable/index.html

# Method 1 : Using BigQuery Studio, to explore and preview data

BigQuery has public datasets which will be ananlyzing in this notebook.

In this method we will be using BigQuery Studio, a UI on Google Cloud, to get a sampe of records for these datasets.

Open BigQuery studio by clicking on this link https://console.cloud.google.com/bigquery

Explore the Google trends public dataset by followin these steps:

 * select project "bigquery-public-data"
   * select datatset "google_trends"
     * select table "international_top_terms"
       * click "preview" to see a sample of rows from this table

# Method 2 : Using the %%bigquery magic command

This is Method 2 of querying data that is stored in BigQuery from within the JupyterLab interface of your Vertex AI Workbench instance.

For this method, it is required to use the IPython Jupyter Kernel that comes prepackaged with Vertex AI Workbench Instances. Please select & connect to it now.

The IPython Jupyter Kernel has a feature called "cell magics" which are handy commands built into the IPython kernel that make it easy to perform particular tasks.

BigQuery has developed "cell magics" to make it easy to execute SQL queries. There are two BigQuery "cell magics" 

1. %%bigquery

  *  Behind the scenes, the %%bigquery magic command uses the BigQuery client library for Python to run the given query
  *  Then convert the results to a pandas DataFrame 
  *  Then display results.

2. %%bigquery my_pandas_data_frame

  *  Behind the scenes, the %%bigquery magic command uses the BigQuery client library for Python to run the given query
  *  Then convert the results to a pandas DataFrame 
  *  Then save the pandas DataFrame to the variable my_pandas_data_frame
  
See exampe of these two "cell magics" below

Reference:

https://cloud.google.com/vertex-ai/docs/workbench/instances/bigquery#query_data_by_using_the_bigquery_magic_command

https://ipython.readthedocs.io/en/stable/interactive/magics.html#cell-magics

https://ipython.readthedocs.io/en/stable/interactive/magics.html#line-magics

https://cloud.google.com/python/docs/reference/bigquery/latest/magics

In [9]:
%%bigquery
SELECT
  country_code,
  country_name,
  COUNT(DISTINCT region_code) AS num_regions
FROM
  `bigquery-public-data.google_trends.international_top_terms`
WHERE
  refresh_date = DATE_SUB(CURRENT_DATE, INTERVAL 1 DAY)
GROUP BY
  country_code,
  country_name
ORDER BY
  num_regions DESC;

Query is running:   0%|          |

Downloading:   0%|          |

   country_code    country_name  num_regions
0            TR          Turkey           81
1            TH        Thailand           77
2            VN         Vietnam           63
3            JP           Japan           47
4            RO         Romania           42
5            NG         Nigeria           37
6            IN           India           36
7            ID       Indonesia           34
8            CO        Colombia           33
9            MX          Mexico           32
10           EG           Egypt           27
11           UA         Ukraine           27
12           BR          Brazil           27
13           CH     Switzerland           26
14           AR       Argentina           24
15           FR          France           22
16           SE          Sweden           21
17           HU         Hungary           20
18           PT        Portugal           20
19           IT           Italy           20
20           ES           Spain           19
21           NO          Norway           19
22           FI         Finland           18
23           NZ     New Zealand           17
24           PH     Philippines           17
25           MY        Malaysia           16
26           DE         Germany           16
27           KR     South Korea           16
28           PL          Poland           16
29           CL           Chile           15
30           CZ  Czech Republic           14
31           CA          Canada           13
32           SA    Saudi Arabia           13
33           NL     Netherlands           12
34           AT         Austria            9
35           ZA    South Africa            9
36           AU       Australia            8
37           IL          Israel            6
38           TW          Taiwan            6
39           DK         Denmark            5
40           GB  United Kingdom            4
41           BE         Belgium            3

In [10]:
%%bigquery regions_by_country
SELECT
  country_code,
  country_name,
  COUNT(DISTINCT region_code) AS num_regions
FROM
  `bigquery-public-data.google_trends.international_top_terms`
WHERE
  refresh_date = DATE_SUB(CURRENT_DATE, INTERVAL 1 DAY)
GROUP BY
  country_code, country_name
ORDER BY
  num_regions DESC;

Query is running:   0%|          |

Downloading:   0%|          |

In [11]:
regions_by_country.head()

  country_code country_name  num_regions
0           TR       Turkey           81
1           TH     Thailand           77
2           VN      Vietnam           63
3           JP        Japan           47
4           RO      Romania           42

# Method 3 : Using the BigQuery python client library 

This is Method 3 of querying data that is stored in BigQuery from within the JupyterLab interface of your Vertex AI Workbench instance.

For this method, it is required to use the IPython Jupyter Kernel that comes prepackaged with Vertex AI Workbench Instances. Please select & connect to it now.

As per the example below, using the BigQuery client library involves: 

1. importing the library
2. initialing a BigQuery client object
3. defining your SQL query
4. getting the BigQuery client object to execute SQL and return a pandas Dataframe
5. with the returned pandas Dataframe you can use a number of Python data analysis, data wrangling, and visualization libraries



Reference :

https://cloud.google.com/vertex-ai/docs/workbench/instances/bigquery#query_data_by_using_the_client_library_directly

In [12]:
from google.cloud import bigquery

client = bigquery.Client()

In [13]:
sql = """
WITH
  TopTermsByDate AS (
    SELECT DISTINCT refresh_date AS date, term
    FROM `bigquery-public-data.google_trends.top_terms`
  ),
  DistinctDates AS (
    SELECT DISTINCT date
    FROM TopTermsByDate
  )
SELECT
  DATE_DIFF(Dates2.date, Date1Terms.date, DAY)
    AS days_apart,
  COUNT(DISTINCT (Dates2.date || Date1Terms.date))
    AS num_date_pairs,
  COUNT(Date1Terms.term) AS num_date1_terms,
  SUM(IF(Date2Terms.term IS NOT NULL, 1, 0))
    AS overlap_terms,
  SAFE_DIVIDE(
    SUM(IF(Date2Terms.term IS NOT NULL, 1, 0)),
    COUNT(Date1Terms.term)
    ) AS pct_overlap_terms
FROM
  TopTermsByDate AS Date1Terms
CROSS JOIN
  DistinctDates AS Dates2
LEFT JOIN
  TopTermsByDate AS Date2Terms
  ON
    Dates2.date = Date2Terms.date
    AND Date1Terms.term = Date2Terms.term
WHERE
  Date1Terms.date <= Dates2.date
GROUP BY
  days_apart

ORDER BY
  days_apart;
"""
pct_overlap_terms_by_days_apart = client.query(sql).to_dataframe()

pct_overlap_terms_by_days_apart.head()

,days_apart,num_date_pairs,num_date1_terms,overlap_terms,pct_overlap_terms
0,0,33,822,822,1.000000
1,1,31,775,1,0.001290
2,2,30,750,0,0.000000
3,3,29,725,0,0.000000
4,4,28,700,1,0.001429

# Method 4 : Using the BigQuery integration into Vertex AI workbench

This is Method 4 of querying data that is stored in BigQuery from within the JupyterLab interface of your Vertex AI Workbench instance.

The In-cell BigQuery query editor is a cell type that you can use within your notebook files.

Select the BigQuery icon on a given cell to launc the In-cell BigQuery query editor. 

Reference : 

https://cloud.google.com/vertex-ai/docs/workbench/instances/bigquery#in-cell

# Method 5 : Use BigQuery DataFrames aka "BigFrames" to super charge pandas workloads

This is Method 6 of querying data that is stored in BigQuery from within the JupyterLab interface of your Vertex AI Workbench instance.

For this method, it is required to use the IPython Jupyter Kernel that comes prepackaged with Vertex AI Workbench Instances. Please select & connect to it now.

BigQuery DataFrames provides a Python library **bigframes.pandas** which provides a pandas-compatible API for analytics. 

Through this library you take advantage of BigQuery data processing by using familiar pandas python APIs. BigQuery DataFrames provides a Pythonic DataFrame powered by the BigQuery engine, and it implements the pandas  APIs by pushing the processing down to BigQuery through SQL conversion. This lets you use BigQuery to explore and process terabytes of data with Python APIs.


Reference : 

https://cloud.google.com/bigquery/docs/bigquery-dataframes-introduction

https://cloud.google.com/bigquery/docs/use-bigquery-dataframes

https://github.com/googleapis/python-bigquery-dataframes/tree/main/notebooks

In [ ]:
# https://jakevdp.github.io/blog/2017/12/05/installing-python-packages-from-jupyter/
# Install a pip package in the current Jupyter kernel
# here the package is bigframes https://pypi.org/project/bigframes/
import sys
!{sys.executable} -m pip install bigframes

In [15]:
import bigframes.pandas as bpd

# import warnings filter & ignore all future warnings
# this is for teaching purposes only, to avoid FutureWarnings to do with bigframe compiler implementation
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)

# Load data from BigQuery
print("step 1-of-3 :: loading data from BigQuery")
query_or_table = "bigquery-public-data.ml_datasets.penguins"
bq_df = bpd.read_gbq(query_or_table, use_cache=False)

# Compute the mean of this body mass across all species:
print("step 2-of-3 :: computing mean of body_mass_g column")
average_body_mass = bq_df["body_mass_g"].mean()
print(f"average_body_mass: {average_body_mass}")

# Find the heaviest species using the groupby operation to calculate the
# mean body_mass_g:
print("step 3-of-3 :: computing top speciees by mean body_mass_g")
(
    bq_df["body_mass_g"]
    .groupby(by=bq_df["species"])
    .mean()
    .sort_values(ascending=False)
    .head(10)
)

step 1-of-3 :: loading data from BigQuery

step 2-of-3 :: computing mean of body_mass_g column

average_body_mass: 4201.754385964914
step 3-of-3 :: computing top speciees by mean body_mass_g

species
Gentoo penguin (Pygoscelis papua)             5076.01626
Chinstrap penguin (Pygoscelis antarctica)    3733.088235
Adelie Penguin (Pygoscelis adeliae)          3700.662252
Name: body_mass_g, dtype: Float64

# Using BigFrames to analyse the USA baby names dataaset

Data set: 

 * Open BigQuery studio by clicking on this link https://console.cloud.google.com/bigquery

 * Let's explore the names of birth registrations in the USA from 1910-2013

 * BigQuery table :: bigquery-public-data.usa_names.usa_1910_2013

Coding references : 

 * https://pbpython.com/pandas-pivot-table-explained.html
 * https://cloud.google.com/python/docs/reference/bigframes/latest/supported_pandas_apis
 * https://cloud.google.com/python/docs/reference/bigframes/latest/bigframes.dataframe.DataFrame#bigframes_dataframe_DataFrame_pivot_table

## Imports

In [ ]:
# https://jakevdp.github.io/blog/2017/12/05/installing-python-packages-from-jupyter/
# Install a pip package in the current Jupyter kernel
# here the package is bigframes https://pypi.org/project/bigframes/
import sys
!{sys.executable} -m pip install bigframes

In [10]:
import bigframes.pandas as bpd

# import warnings filter & ignore all future warnings
# this is for teaching purposes only, to avoid FutureWarnings to do with bigframe compiler implementation
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)

# Load data from BigQuery
# Let's explore the names of birth registrations in the USA from 1910-2013
print("step 1-of-3 :: loading data from BigQuery")
query_or_table = "bigquery-public-data.usa_names.usa_1910_2013"
bq_df = bpd.read_gbq(query_or_table, use_cache=False)

step 1-of-3 :: loading data from BigQuery

In [12]:
# Let's focus on just one year
bq_df_2013 = bq_df[bq_df["year"] == 2013]

In [15]:
# Let's get the descriptive statistics for numerical columns
bq_df_2013.describe()

          year     number
count  92372.0    92372.0
mean    2013.0  33.017635
std        0.0   88.03075
min     2013.0        5.0
25%     2013.0        7.0
50%     2013.0       11.0
75%     2013.0       25.0
max     2013.0     3442.0

[8 rows x 2 columns]

In [17]:
# Let's focus on just 2013 and two states CA & 
bq_df_2013_CANY = bq_df_2013[bq_df_2013["state"].isin(['CA','NY'])]

In [29]:
# Let's build a cross tab of state vs gender
# N.B. BigFrames yas not yet implemented the "margins" parameter available in pandas
# https://cloud.google.com/python/docs/reference/bigframes/latest/supported_pandas_apis
xtabdf = bq_df_2013_CANY.pivot_table(index="state", columns="gender", values="number", aggfunc="sum")

In [30]:
xtabdf

gender       F       M
state
CA      202912  224695
NY       90372  101231

[2 rows x 2 columns]

# Using BigFrames to analyse the London bike rental dataset
Data set: 

 * Open BigQuery studio by clicking on this link https://console.cloud.google.com/bigquery

 * Let's bi

 * BigQuery table :: bigquery-public-data.usa_names.usa_1910_2013

Coding references : 

 * https://pbpython.com/pandas-pivot-table-explained.html
 * https://cloud.google.com/python/docs/reference/bigframes/latest/supported_pandas_apis
 * https://cloud.google.com/python/docs/reference/bigframes/latest/bigframes.dataframe.DataFrame#bigframes_dataframe_DataFrame_pivot_table

In [35]:
import bigframes.pandas as bpd
import matplotlib.pyplot as plt

In [39]:
bpd.close_session()
bpd.options.bigquery.location = "EU"

cycle_hire_bf = bpd.read_gbq(
    "bigquery-public-data.london_bicycles.cycle_hire", 
    use_cache=False, 
    columns=["start_date", "start_station_name", "end_station_name", "duration"],  
    filters=[("duration", ">", 0)]
)